body, html {
  display: flex;
  width: 100vw;
  height: 100vh;
}
#formArea {
  display: flex;
  flex-direction: column;
  flex: 1 1 30vw;
}
form {
  display: flex;
  flex-direction: column;
}
#cv {
  flex: 1 1 70vw;
}